.wrapper {
}

.title {
  margin-bottom: 0.2em;
}

.subtitle {
  margin-top: 0;
}

.generalInformation {
  background-color: #238ea7;
  color: white;
  padding: 1em;

  a {
    color: #80e7ff;
    &:hover {
      color: lighten(#80e7ff, 15%);
    }
  }
}

.teamsDrivenFor {
}

.facts {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
