@use "sass:color";

.wrapper {
  display: flex;
  flex-grow: 1;

  .navigation {
    display: flex;
    justify-content: center;
    flex-basis: 25.5vw;
    background-color: #222;
    align-items: center;

    .titleWrapper {
      flex-basis: 20vw;
      flex-shrink: 0;
      padding: 2em;
      color: white;
      text-align: left;

      .list {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: left;
        padding: 0;
        margin-top: 2em;
        margin-bottom: 0;

        $backgroundColours: (
          "Sky Sports": (
            linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 76%),
            linear-gradient(90deg, #002672 0, #002672 50%, #e10000 0, #e10000),
          ),
          "F1 Quotes": black,
          "Reddit": #fe4502,
        );

        $hoverColours: (
          "Sky Sports": (
            linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 76%),
            linear-gradient(90deg, #002d86 0, #002d86 50%, #f50000 0, #f50000),
          ),
          "F1 Quotes": color.adjust(black, $lightness: 4%),
          "Reddit": color.adjust(#fe4502, $lightness: 4%),
        );

        .item {
          display: flex;
          justify-content: center;
          margin: 0.5em 0;
          border-radius: 8px;

          @each $name, $color in $backgroundColours {
            &[data-name="#{$name}"] {
              background: $color;
              transition: background-color 0.1s ease;
              box-shadow: #0000004d 0px 3px 8px;
              &:hover {
                font-weight: bold;
                outline: 3px solid black;

                @each $name, $color in $hoverColours {
                  &[data-name="#{$name}"] {
                    background: $color;
                  }
                }
              }
            }
          }

          .link {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            padding: 1em 0.75em;
            margin: 0;
            color: white;

            .icon {
              display: flex;
              height: 2em;
              width: 2em;
              margin-right: 0.4em;
              color: white;
            }
          }
        }
      }
    }
  }

  .imageWrapper {
    flex-grow: 1;
    position: relative;
  }
}
