.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.15em;
  background-color: #333;
  color: white;

  .title {
    // TODO: Link styling
    display: flex;
    flex-basis: 3em;
    align-items: center;
    text-decoration: none;
  }

  .menu {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.5em;
      border-radius: 3px;

      & > a {
        color: inherit;
        text-decoration: none;
        padding: 1em;
      }

      &:hover {
        background-color: #2394b1;
        cursor: pointer;
      }
    }
  }
}
