.wrapper {
  display: flex;
  justify-content: left;
  align-items: stretch;
  min-height: 3em;
  font-size: 1.15em;
  background-color: #333;
  color: white;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    text-decoration: none;
    padding: 0 1em;
  }

  .menu {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      // Regardless of whether the navbar item is a link or not
      & > a,
      div {
        display: flex;
        flex-grow: 1;
        padding: 1em 1.5em;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        cursor: default;
        background-color: #2394b1;

        // Only change cursor style, if a link
        & > a {
          cursor: pointer;
        }
      }
    }
  }
}
