.wrapper {
}

.generalInformation, .resultsInformation {
  margin: 3em 0;
  & > * {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }
}

.currentDrivers, .teamsDrivenFor {
  margin: 0.5em;
}
