.wrapper {
}

.title {
  margin-bottom: 0.2em;
}

.subtitle {
  margin-top: 0;
}

.activeStatus {
  font-weight: bold;

  &[data-active="true"] {
    color: #25d425;
  }

  &[data-active="false"] {
    color: #eb0f0f;
  }
}

.description {
  background-color: #238ea7;
  color: white;
  padding: 1em;

  a {
    color: #80e7ff;
    &:hover {
      color: lighten(#80e7ff, 15%);
    }
  }
}

.currentDrivers {
}

.facts {
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
